.inp {
    width: 358px;
    height: 40px;
    padding: 8px 0 8px 38px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    margin: 16px 0;
    outline: none;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}